/* logic: i removed the default css and adding my gadgetshack styles from previous sbas */
/* as this SBA is adding a react frontend layer to my gadgetshack project which is gonna be my final capstone project */
/* i have referred my previous SBAs 308A/318/319 css styling. i am keeping the theme and look similar. */

/* FUTUREWORK: i tested, the page moved to the left, center it later.. */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #f4f4f9;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



.app_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* -------------- Home Page Styling --------------*/
/* logic: this container is to keep my future pages centered */
.main_container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}


/* nav bar styling */
.navBar {
  background-color: #003366;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logoBox a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navLinksList {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navLinksList a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navLinksList a:hover {
  color: #ff6600;
}