/* logic: i removed the default css and adding my gadgetshack styles from previous sbas */
/* as this SBA is adding a react frontend layer to my gadgetshack project which is gonna be my final capstone project */
/* i have referred my previous SBAs 308A/318/319 css styling. i am keeping the theme and look similar. */

/* FUTUREWORK: i tested, styling seems messed up. the homepage moved to the left, shop page styling doesnt alin well..check later */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #f4f4f9;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


.app_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* -------------- All Pages Styling --------------*/
/* logic: this container is to keep all of pages centered */
.main_container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}


/* nav bar styling */
.navBar {
  background-color: #003366;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logoBox a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navLinksList {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navLinksList a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navLinksList a:hover {
  color: #ff6600;
}


.products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

/* --------------  Product card styling -------------- */
/* note: these are generated by my react map function */
.card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  /* slight lift effect */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.price {
  color: #ff6600;
  font-weight: bold;
  font-size: 1.2rem;
}

.loading-text {
  font-size: 1.2rem;
  color: #ff6600;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  animation: pulseEffect 1.5s infinite ease-in-out;
}

@keyframes pulseEffect {
  0% {
    transform: scale(0.98);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0.98);
  }
}

/* -------------- Buttons --------------  */
.btn {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.3s;
  margin-top: 15px;
}

.btn:hover {
  background-color: #e65c00;
  transform: translateY(-2px);
}